body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
p{
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   -webkit-background-size: cover;
   background-size: cover;
   background-image: no-repeat;
   background-position: center;
   background: url(reneir1.jpg) no-repeat;
   background-attachment: fixed;
   -webkit-background-clip: text;
   -webkit-text-fill-color: rgba(255, 255, 255, 0); 
}
@media (max-width: 768px) {
    p {
        font-size: 12px;
        line-height: 20px;
        background-size: contain;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 12px;
        background-size: contain;
        background-attachment: scroll;
    }
}
